html,
body{
    min-height: 100%;
    height:fit-content;
    overflow: auto;
}

#root{
    height : 100%;
    min-height: 100%;
    overflow: auto !important;
}
.nsContainer {
    width: 100%;
    height: 100% !important;
    background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

.nsContent {
    width: inherit;
    height: inherit;
}

#nsUniverse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    z-index: 0;
}

nav {
    position: relative;
    z-index: 1;
}